@media (max-width: 568px) {
  .actions {
    /*float: left;*/
    /*margin-top: 0px !important;*/
    /*margin-right: 4px;*/
  }
}

@media screen and (max-width: 600px) {
  .jumbotron {
    margin: 40% 0 10% 0;
    text-align: center;
  }

  .about {
    text-align: center;
  }

  .img-circle {
    width: 90% !important;
  }

  .picture-one {
    left: -4%
  }

  .picture-two {
    right: -21%;
    top: 158px;
    bottom: 2%;
  }

  .my-recipes-section {
    text-align: center;
  }

  .my-recipes-list {
    text-align: left;
  }

  .directions {
    margin-bottom: 15% !important;
  }

  .actions .save .delete {
    float: none;
  }

  .about-row {
    margin-top: -35px;
  }

  .my-recipes-section {
    padding: 2rem 5%;
  }

  .my-recipes-headers h3 {
    padding: .5em;
  }

  .search-section {
    margin: -10% 0;
  }
}

@media screen and (max-width: 650px) {
  .footer-links a {
    display: none
  }

  .top-link {
    display: block !important;
  }
}

@media screen and (min-width: 991px) {
  .menu.open {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-icons {
    display: none !important;
  }

  .menu-items {
    display: block !important;
  }

  .menu-items li {
    display: inline-block;
    padding: 15px 30px;
  }

  .menu-items a {
    color: #fff;
  }
}

@media screen and (max-width: 992px ) {
  .brand-name {
    margin-left: 5%;
  }

  .picture-one {
    position: absolute;
    top: 2%;
  }

  .img-circle {
    width: 55%;
  }

  .plate-one {
    height: 50%;
  }

  .plate-two {
    margin-top: -20px;
    height: 50%;
  }

  .plate-three {
    margin-top: -20px;
    height: 50%;
  }

  .plate-one span {
    padding: 10px 0 0 0;
  }

  .plate-two span {
    padding: 10px 0 0 0;
  }

  .plate-three span {
    padding: 10px 0 0 0;
  }

  .directions {
    margin-bottom: 5%;
  }
}
