@media (min-width: 991px) {
  /** {
    background-color: blue;
    }*/
  /*a {
    transition: opacity .35s;
  }
  a:hover {
    opacity: 0.75;
  }*/
  /*.menu {
  background-color: #ffffff;
  }*/
  .menu.open {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-icons {
    display: none !important;
  }
  .menu-items {
    display: block !important;
    /*text-align: center;*/
  }
  .menu-items li {
    display: inline-block;
    padding: 15px 30px;
  }
  .menu-items a {
    color: #fff;
  }
}

@media screen and (max-width: 992px ) {
  .brand-name {
    margin-left: 5%;
  }

  /*.nav-link {
    float: right;
    text-align: right;
    width: 65%;
  }*/

  .picture-one {
    position: absolute;
    top: 2%;
  }

  .plate-one {
    height: 50%;
  }

  .plate-two {
    margin-top: -20px;
    height: 50%;
  }

  .plate-three {
    margin-top: -20px;
    height: 50%;
  }

  .plate-one span {
    padding: 10px 0 0 0;
  }

  .plate-two span {
    padding: 10px 0 0 0;
  }

  .plate-three span {
    padding: 10px 0 0 0;
  }
}
