@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,300,700);

/*******************************************************************
 CONSTANTS
*******************************************************************/
ul {
  list-style: none;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

/*******************************************************************
 NAVIGATION SECTION
*******************************************************************/
.logo {
  display: inline;
}

.brand-name {
  font-family: 'Raleway', serif;
  font-size: 70px;
  margin-left: 10%;
  color: #fff;
  margin-top: -5px;
  display: inline
}

.main-picture {
  background-image: url(photos/dinner2.jpg);
  background-size: cover;
}

.nav-link {
  text-align: right;
  display: inline
}

.nav-link li {
  display: inline;
  margin: 20px 5% 0 0;
}

.nav-button {
  font-family: 'Raleway', sans-serif;
  /*font-size: 12px;*/
  text-transform: uppercase;
  cursor: pointer;
  /*padding: 0 2rem;*/
  color: #fff;
  /*line-height: 6;*/
  font-weight: 600;
}

a.nav-button:link {
  color: #fff;
}

a.nav-button:visited {
  color: #fff;
}

a.nav-button:hover {
  color: #A6CFE0;
}

a.nav-button:active {
  color: #fff;
}

.transparent {
  color: transparent;
}

.spacer {
  display: inline-block;
  color: transparent;
  /*color: #fff*/
}

.fa-bars {
  display: inline;
  float: right;
  margin: 30px 5% 0 0;
}

.fa-times {
  display: none;
}

.menu {
  font-family: 'Raleway', Serif;
}

.menu.open {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu.open .fa-bars {
  display: none;
}

.menu.open .fa-times {
  display: inline;
  float: right;
  margin: 30px 5% 0 0;
}

.menu.open .menu-items {
  display: block;
}

.menu-icons {
  display: inline;
  color: #fff;
  font-size: 25px;
  padding: 10px;
  margin-right: 5%;
}

.menu-items {
  display: none;
}

.menu-items li {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.menu-items a {
  text-decoration: none;
  color: #ffffff;
}

.jumbotron {
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-left: 70px;
  line-height: 2.25;
  color: #fff;
  margin-top: 10%;
  margin-bottom: 10%;
}

h1, h3 {
  line-height: 1.25;
  font-weight: 400;
}

.jumbotron h3 {
  font-size: 1.5em;
}

.jumbotron p {
  font-size: 1em;
  font-weight: 300;
}

.btn:link {
  border: 0;
  background: #f39c12;
  border-radius: 4px;
  color: #fff;
}

.btn:visited {
  background-color: #f39c12;
}

.btn:hover {
  background-color: #A6CFE0;
}

.btn:active {
  background-color:  #A6CFE0;
}

/*******************************************************************
 ABOUT SECTION
*******************************************************************/

.about {
  background-color: #eeede6;
  font-family: Raleway, sans-serif;
  color: #111;
  padding: 7rem 70px;
}

.about-row {
  margin-top: 60px;
  margin-bottom: 140px;
}

.about-text {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25;
}

.minor-text {
  color: #f39c12;
}

.about-us {
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 10px;
}

.get-started {
  font-size: 17px;
  font-weight: 600;
  line-height: 3;
  color: #f39c12;
}

.get-started:hover {
  color: #A6CFE0;
}

.img-circle {
  width: 60%;
  height: auto;
}

.picture-two {
  position: relative;
  top: 127px;
  right: -44%;
}

.picture-one {
  position: absolute;
  top: -20%;
}

/*******************************************************************
 SEARCH RECIPES SECTION
*******************************************************************/

.api-section {
  padding-top: 43px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  padding: 7rem 5%;
  background-image: url(photos/cooking-background.png);
  background-size: cover;
}

.search-function {
  /*background-color: #f39c12;*/
  padding-bottom: 3rem;
}

/*.search-function h3 {
  margin-top: 30px;
}*/

.search-function input {
  margin: 0 40% 15px 40%;
}

.recipe-search-button {
  border: 0;
  background: #fff;
  border-radius: 4px;
  color: #f39c12;
}

.recipe-search-button:visited {
  background: #f39c12;
  color: #f39c12;
}

.recipe-search-button:hover {
  background-color: #A6CFE0;
  color: #f39c12;
}

.recipe-search-button:active {
  background-color: #A6CFE0;
  color: #f39c12;
}

.plate-one {
  background: #e16120;
  height: 600px;
}

.plate-two {
  background: #da5d1d;
  height: 600px;
}

.plate-three {
  background: #c74c10;
  height: 600px;
}

.search-section {
  font-family: Raleway, sans-serif;
  color: #fff;
  text-align: center;
}

.search-section span {
  display: block;
  font-size: .5em;
  font-weight: 400;
  text-transform: uppercase;
}

.search-section h3 {
  font-weight: 600;
  text-transform: capitalize;
}

.search-section h3 p {
  color: #fff;
  text-align: center;
}

.search-results {
  /*margin: 0 0 50px 0;*/
  padding: 0;
}

.search-results a {
  color: #fff;
  font-weight: 400;
  /*font-size: .875em;*/
  font-family: Raleway, sans-serif;
}

.list-style {
  font-size: 17px;
  list-style-type: none;
}

.directions-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  line-height: 3.428571;
  font-size: 17px;
  display: block;
}

h4 {
  color: #fff;
  font-weight: 400;
  /*font-size: .875em;*/
  font-family: Raleway, sans-serif;
}

/*******************************************************************
 MY RECIPES SECTION
*******************************************************************/

.my-recipes-section {
  background-color: #eeede6;
  font-family: Raleway, sans-serif;
  color: #111;
  padding: 7rem 5%;
}

.my-recipes-section h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}

.my-recipes-headers {
  background-color: #fff;
  padding-bottom: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
}

.my-recipes-headers h3 {
  font-weight: 400;
  line-height: 1.25;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.my-recipes-headers p {
  text-align: center;
}

.add-recipe {
  color: #8F8F8F;
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
}

.add-recipe:visited {
  color: #8F8F8F;
}

.add-recipe:hover {
  color: #111;
}

.my-recipes-list {
  background-color: #fff;
  padding-bottom: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
}

.my-recipes-list label {
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
}

.recipes {
  padding: 17px 0 18px 0;
}

.items {
  display: inline;
}

.actions {
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
  float: right;
}

.recipes.editing-recipe .actions{
  margin-top: -34px;
}

.edit, .save, .delete {
  color: #ECA07C;
}

.edit:visited, .save:visited, .delete:visited {
  color: #e16120;
}

.edit:hover, .save:hover, .delete:hover {
  color: #ECA07C;
}

/*******************************************************************
 FOOTER SECTION
*******************************************************************/

.footer {
  background: #292929;
  text-align: center;
  font-family: Raleway,sans-serif;
  font-weight: 600;
  line-height: 5;
}

.footer a {
  padding: 0 5rem;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
}

.second-footer {
  background: #363636;
  padding: 3rem;
}

.second-footer small {
  font-weight: 300;
  color: #f39c12;
}
