<!-- <div ng-repeat="book in vm.wantToRead">
  <div class="book-container">
    <p><strong>{{book.title}}</strong> <br>—{{book.author}}</p>
  </div>
</div> -->

<section class="my-recipes-section">
  <div class=".container">

  <div class="row">
    <div class="col-md-12 my-recipes-headers">
    <h3 id="my-recipes-link">My Recipes</h3>
    <p>If you have a unique recipe or just could not find the recipe you were looking for, feel free to add to your recipes.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-recipes-list">
    <div class="recipes" ng-repeat="(key, recipe) in wantToRecipe" ng-class="{'editing-recipe': editRecipe}">
      <div class="items" ng-show="!editRecipe">
        <label ng-show="!editRecipe">{{recipe.name}}</label>
      </div>


    </div>
    </div>
  </div>

  </div>
</section>

<!-- <section class="my-recipes-section">
  <div class=".container">

  <div class="row">
    <div class="col-md-12 my-recipes-headers">
    <h3 id="my-recipes-link">My Recipes</h3>
    <p>If you have a unique recipe or just could not find the recipe you were looking for, feel free to add to your recipes.</p>

    <a href="" class="add-recipe" ng-click="toggleForm()">+ Add a New Recipe</a>

    <form ng-show="formIsVisible" ng-submit=createRecipe();>
      <div>
        <label>Name</label>
        <input type="text" name="name" ng-model="recipe.name">
      </div>

      <div>
        <label>Ingredients</label>
        <input type="text" name="ingredients" ng-model="recipe.ingredients">
      </div>

      <button type="submit">Submit</button>
    </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-recipes-list">

    <div class="recipes" ng-repeat="(key, recipe) in recipes" ng-class="{'editing-recipe': editRecipe}">

      <div class="items" ng-show="!editRecipe">
        <label ng-show="!editRecipe">{{recipe.name}}</label>
      </div>

      <form ng-show="editRecipe">
        <input type="text" ng-model="recipe.name">
        <input type="text" ng-model="recipe.ingredients">
      </form>

      <div class="actions">
        <a href="" class="edit" ng-click="editRecipe = !editRecipe">Edit</a>
        <a href="" class="save" ng-click="updateRecipe($index); editRecipe = !editRecipe">Save</a>
        <a href="" class="delete" ng-click="deleteRecipe(key)">Delete</a>
      </div>
    </div>
    </div>
  </div>

  </div>
</section> -->
